body{
    background-image: url("../images/pink dust.png");
}
.card{
background-color:#996666;
color:#eee;
margin:2%;
padding:3%;
border-radius: 2%;
border:solid 5px #383b39; 
}
.card-img-top{
    height:250px;
    width:250px;
    border:solid 1px #eee;
}
.card-footer{
    background-color:#3e3c3d;
    color:#ccc;
} 
.trivia-answer{
    margin:5%;
}